{% extends '@calista/page/page.html.twig' %}

{%- block filter_link -%}
  {% if class is not defined %}
    {% set class = '' %}
  {% endif %}
  <a class="{{ class }}{% if link.isActive %} active{% endif %}" href="{{ path(link.route, link.getRouteParameters) }}" data-page-link="{{ filter.field|e }}">
    <input type="checkbox"{% if link.isActive %} checked="checked"{% endif %}/>
    {{ link.title|e }} {% if link.count is defined %}<span class="badge">{{ link.count|e }}</span>{% endif %}
  </a>
{%- endblock -%}

{%- block filter_boolean -%}
  {% set value = query.get(filter.field) %}
  <div class="form-group form-inline">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="{{ filter.field|e }}" {% if value %} checked="checked"{% endif %} value="1"/>
      <label class="form-check-label">{{ filter.title|e }}</label>
    </div>
  </div>
{%- endblock -%}

{%- block filter_date -%}
  <div class="form-group form-inline">
    <label for="{{ filter.field|e }}">{{ filter.title|e }}</label>
    {% set value = query.get(filter.field) %}
    <input type="date" class="form-control" name="{{ filter.field|e }}" value="{{ value|e }}"/>
  </div>
{%- endblock -%}

{%- block filter_input -%}
  <div class="form-group form-inline">
    <label for="{{ filter.field|e }}">{{ filter.title|e }}</label>
    {% set value = query.get(filter.field) %}
    <input type="text" class="form-control" name="{{ filter.field|e }}" value="{{ value|e }}" placeholder="">
  </div>
{%- endblock -%}

{%- block filter -%}
  {% if filter.isMultiple %}
    {% set name = filter.field %}
    {% set id = 'filter-' ~ name %}
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ filter.title|e }}
      </button>
      <div class="dropdown-menu" aria-labelledby="{{ id }}">
        {% if filter.asLinks %}
          {% for link in filter.links(query, view) %}
            {% with {class: 'dropdown-item'} %}{{ block('filter_link') }}{% endwith %}
          {% else %}
            <a href="#" class="disabled dropdown-item" disabled="disabled">{{ "No values"|trans }}</a>
          {% endfor %}
          {# Avoid filter from being erased when user submits form #}
          <input type="hidden" name="{{ name }}" value="{{ "test" }}"/>
        {% else %}
          {% for value in filter.getChoicesState(query) %}
            <div class="form-group form-check dropdown-item">
              {% set input_id = id ~ '-' ~ name %}
              <input type="checkbox" class="form-check-input" {% if value.selected %} checked="checked"{% endif %} id="{{ input_id }}" name="{{ name }}[]" value="{{ value.value }}"/>
              <label class="form-check-label" for="{{ input_id }}">{{ value.label }}</label>
            </div>
          {% else %}
            <a href="#" class="disabled dropdown-item" disabled="disabled">{{ "No values"|trans }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% else %}
     <div class="form-group">
      <label for="disabledTextInput">{{ filter.title|e }}</label>
      {% set selectedValues = filter.getSelectedValues(query) %}
      <select name="{{ filter.field|e }}">
        {% if not filter.isMandatory %}
          {% set noneOption = filter.noneOption %}
          <option value="">{% if noneOption %}{{ noneOption|e }}{% else %}{{ "All"|trans }}{% endif %}</option>
        {% endif %}
        {% for key, title in filter.choicesMap %}
          <option{% if key in selectedValues %} selected="selected"{% endif %} value="{{ key|e }}">{{ title|e }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
{%- endblock -%}

{% block sort_links_field %}
  {% set allowedSorts = input.allowedSorts %}
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" title="{{ "Sort by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
      {% if query.hasSortField %}
        {{ allowedSorts[(query.sortField)] }}
      {% else %}
        {{ "Select"|trans }}
      {% endif %}
    </button>
    <div class="dropdown-menu">
      {% for field, label in allowedSorts %}
        {% with {class: 'dropdown-item'} %}{{ block('sort_link') }}{% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block sort_links_order %}
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" title="{{ "Order by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
     {% if 'asc' == query.sortOrder %}{{ "ascending"|trans }}{% else %}{{ "descending"|trans }}{% endif %}&nbsp;<span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <a href="{{ path(view.route, view.getRouteParameters(query.all, {(input.sortOrderParameter): 'asc'})) }}" class="dropdown-item {% if 'asc' == query.sortOrder %}active{% endif %}" data-page-link>
        {{ "ascending"|trans }}
      </a>
      <a href="{{ path(view.route, view.getRouteParameters(query.all, {(input.sortOrderParameter): 'desc'})) }}" class="dropdown-item {% if 'desc' == query.sortOrder %}active{% endif %}" data-page-link>
        {{ "descending"|trans }}
      </a>
    </div>
  </div>
{% endblock %}

{% block sort_links %}
  <div class="btn-group sort-links">
    {{ block('sort_links_field') }}
    {{ block('sort_links_order') }}
  </div>
{% endblock %}

{% block item_list %}
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        {% for property in properties %}
          <th class="property-{{ property.name }}">{{ property.label }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block page_content %}
  {% if sortsEnabled and 1 < input.allowedSorts|length %}
    <div class="row">
      <div class="col" data-page-block="sort_links">
        {{ block('sort_links') }}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col" data-page-block="item_list">
      {{ block('item_list') }}
    </div>
  </div>
  {% if pagerEnabled %}
    <div class="row">
      <div class="col" data-page-block="pager">
        {% if query.limit < items.totalCount %}
          {{ block('pager') }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block filters %}
  <form method="get" class="form-inline" action="{{ path(view.route, view.getRouteParameters) }}">
    {% for filter in filters %}
      {% if filter.isBoolean %}
        {{ block('filter_boolean') }}
      {% elseif filter.isArbitraryInput %}
        {{ block('filter_input') }}
      {% elseif filter.isDate %}
        {{ block('filter_date') }}
      {% else %}
        {{ block('filter') }}
      {% endif %}
    {% endfor %}
    <div class="form-group">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
          {{ "Filter"|trans }}
        </button>
        <a href="{{ path(view.route, view.getRouteParameters) }}" class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>
          {{ "Reset"|trans }}
        </a>
      </div>
    </div>
  </form>
{% endblock %}

{% block page_layout %}
  {% if filters %}
  <div class="row">
    <div class="col">
      <div data-page-block="filters">
        {{ block('filters') }}
      </div>
    </div>
  <div>
  {% endif %}
  {{ block('page_content') }}
{% endblock %}

{%- block page -%}
  <div class="calista-page {% block container_class %}{% endblock %}"
      {% if pageId %}data-page="{{ pageId|e }}"
      {% if view.route %}data-page-route="{{ path(view.route, view.getRouteParameters(query.all)) }}"{% endif %}
      data-page-query="{{ view.getRouteParameters(query.all)|json_encode|e }}"{% endif %}
      data-renderer="{{ definition.rendererName|e }}">
    {{ block('page_layout') }}
  </div>
{%- endblock -%}
