{#
 # Please note that items variable items type will vary depending on what you
 #  are currently displaying, this template hanles nodes.
 #
 #  Variables:
 #    config: object containing how this template must behave
 #    config.table_sort: bool (allow clickable table sort headers)
 #    config.table_action: callable (run for building last row columns)
 #    pageId: page uuid, for security and ajax queries
 #    filters: FilterContext[]
 #    filters.ID.title: string (title)
 #    filters.ID.links: Link[]
 #    input: InputDefinition
 #    definition: ViewDefinition
 #    query: Query
 #    query.sortField: string (current sort field)
 #    query.sortOrder: string (current sort order)
 #    view: View
 #    view.route: string (current internal route)
 #    view.getRouteParameters: string[] (current get query)
 #    hasPager: should we show pager or not
 #    hasGoToPageForm: should we show go to form in the pager or not
 #    items: DatasourceResultInterface|mixed[] the items
 #}

{#
 # A normal sort link
 #
 # You may use it for table header sort link:
 #
 # <th>
 #   {% with {label: "Référence", field: 'h.timestamp', class: 'dropdown-item'} %}
 #     {{ block('sort_link') }}
 #   {% endwith %}
 # </th>
 #
 #}
{% block sort_link %}
  {% set isActive = (field == query.sortField) %}
  {% if class is not defined %}
    {% set class = '' %}
  {% endif %}
  {% if isActive %}
    {% if 'desc' == query.sortOrder %}
      {% set linkOrder = 'asc' %}
    {% else %}
      {% set linkOrder = 'desc' %}
    {% endif %}
  {% else %}
    {% set linkOrder = query.sortOrder %}
  {% endif %}
  {% set mergeParams = {(input.sortFieldParameter): field, (input.sortOrderParameter): linkOrder} %}
  <a href="{{ calista_path(view.route, view.getRouteParameters(query.all, mergeParams)) }}" class="{{ class }} sort-{{ linkOrder }}{% if isActive %} active{% endif %}" data-page-link>
    {{ label|e }}
  </a>
{% endblock %}

{% block sort_links_field %}
  {% set allowedSorts = input.allowedSorts %}
  <span class="text-muted">{{ "Sort by:"|trans }}</span>
  <a href="#" class="dropdown-toggle" title="{{ "Sort by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    {% if query.hasSortField %}
      {{ allowedSorts[(query.sortField)] }}
    {% else %}
      {{ "Select"|trans }}
    {% endif %}
    &nbsp;<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    {% for field, label in allowedSorts %}
      <li>{% with {class: 'dropdown-item'} %}{{ block('sort_link') }}{% endwith %}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sort_links_order %}
  <a href="#" class="dropdown-toggle" title="{{ "Order by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
   {% if 'asc' == query.sortOrder %}{{ "ascending"|trans }}{% else %}{{ "descending"|trans }}{% endif %}&nbsp;<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="{{ calista_path(view.route, view.getRouteParameters(query.all, {(input.sortOrderParameter): 'asc'})) }}" {% if 'asc' == query.sortOrder %}class="active"{% endif %} data-page-link>
        {{ "ascending"|trans }}
      </a>
    </li>
    <li>
      <a href="{{ calista_path(view.route, view.getRouteParameters(query.all, {(input.sortOrderParameter): 'desc'})) }}" {% if 'desc' == query.sortOrder %}class="active"{% endif %} data-page-link>
        {{ "descending"|trans }}
      </a>
    </li>
  </ul>
{% endblock %}

{% block sort_links %}
  <div class="pull-right sort-links">
    <span style="position: relative;">
      {{ block('sort_links_field') }}
    </span>
    <span style="position: relative;">
      {{ block('sort_links_order') }}
    </span>
  </div>
{% endblock %}

{%- block item_actions -%}
  {# Override that block to add arbitrary data into the last column #}
  {# From here, you have access to the "item" variable. #}
  {% if config.table_action is not null %}
    {{ calista_item_actions(item, config.table_action) }}
  {% endif %}
{%- endblock -%}

{%- block item -%}
  <tr>
    {% for value in calista_item_row(view, item) %}
      <td>
        {{ value|raw }}
      </td>
    {% endfor %}
    {% if config.table_action is not null %}
      <td class="item-actions">
        {{ block('item_actions') }}
      </td>
    {% endif %}
  </tr>
{%- endblock -%}

{#
 # Extented options for table headers.
 #
 # Default implementation here will not add any real UI components, showing
 # or hidden columns using a page refresh does not seem to be a good idea.
 #
 # There will be only simple indicators:
 #   - one when a filter applies on that column,
 #   - maybe others?
 #
 # This at least will help you finding the correct variables to use.
 #
 # Allow subthemes to change rendering.
 #}
{%- block item_list_table_header_extended -%}
{%- endblock item_list_table_header_extended -%}

{#
 # Single <th> tag for table headers.
 #
 # If detected, uses the allowed sorts to place a sort link in the table header.
 # @todo Allow configuring this using an extra option.
 #}
{%- block item_list_table_header -%}
  {% set name = property.getName() %}
  {% if config.table_sort and input.isSortAllowed(name) %}
    <th class="property-{{ name }}{% if query.sortField == name %} active{% endif %}">
      {% with {label: property.getLabel(), field: name} %}
        {{ block('sort_link') }}
      {% endwith %}
      {% if extended_headers is defined and extended_headers %}
        {{ block('item_list_table_header_extended') }}
      {% endif %}
    </th>
  {% else %}
    <th class="property-{{ name }}">{{ property.getLabel() }}</th>
  {% endif %}
{%- endblock item_list_table_header -%}

{#
 # Items list, a table.
 #}
{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        {% for property in properties %}
          {{ block('item_list_table_header') }}
        {% endfor %}
        {% if config.table_action is not null %}
          <th class="item-actions"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{#
 # Single pager link href
 #}
{%- block pager_href -%}
  {% if index is defined %}
    {% set sortParams = {(input.sortFieldParameter): query.sortField, (input.sortOrderParameter): query.sortOrder} %}
    {{ calista_path(view.route, view.getRouteParameters(query.all + sortParams, {(input.pagerParameter): index})) }}
  {% else %}
    #
  {% endif %}
{%- endblock -%}

{#
 # Single pager link
 #}
{%- block pager_link -%}
  {% if index is defined %}
    <a class="page-link" href="{{ block('pager_href') }}" data-page-link="">
      {{ index }}
    </a>
  {% endif %}
{%- endblock -%}

{#
 # A form to go to specific page
 #}
{%- block pager_go_to -%}
  <form method="GET" action="{{ calista_path(view.route, view.getRouteParameters) }}" class="pager-go-to">
    {% for name, value in view.getRouteParameters(query.all) %}
      <input name="{{ name }}" type="hidden" />
    {% endfor %}
    <input name="page" type="text" size="3" placeholder="{{ items.getCurrentPage }}&nbsp;/&nbsp;{{ items.pageCount }}"/>
    <input class="item-action" type="submit" value="&#8618;" />
  </form>
{%- endblock -%}

{#
 # Custom pager, built with Bootstrap component. We dissociated it from any
 # framework because we need to have control on the links for AJAX page
 # refresh.
 #}
{%- block pager -%}
  {% if hasPager %}
    {% set page = items.getCurrentPage() %}
    <nav aria-label="{{ "Navigation"|trans }}">
      <ul class="pagination">
        {% if 1 < page %}
          <li class="page-item">
            <a class="page-link" href="{% with {index: 1} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "First"|trans }}" data-page-link>
              <span aria-hidden="true">&#x21E4;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="{% with {index: (page - 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Previous"|trans }}" data-page-link>
              <span aria-hidden="true">&#8592;</span>
            </a>
          </li>
        {% endif %}
        {% for index in calista_page_range(items.getTotalCount(), page, items.limit) %}
          <li class="page-item">
            {{ block('pager_link') }}
          </li>
        {% endfor %}
        {% set pageCount = items.pageCount() %}
        {% if page < pageCount %}
          <li class="page-item">
            <a class="page-link" href="{% with {index: (page + 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Next"|trans }}" data-page-link>
              <span aria-hidden="true">&#8594;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="{% with {index: pageCount} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Last"|trans }}" data-page-link>
              <span aria-hidden="true">&#x21E5;</span>
            </a>
          </li>
        {% endif %}
        {% if hasGoToPageForm %}
        <li>
          {{ block('pager_go_to') }}
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{%- endblock -%}

{% block page_content %}
  <div class="container-fluid">
    {% if sortsEnabled and 1 < input.allowedSorts|length %}
      <div class="row">
        <div class="col-md-12" data-page-block="sort_links">
          {{ block('sort_links') }}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12" data-page-block="item_list">
        {{ block('item_list') }}
      </div>
    </div>
    {% if pagerEnabled %}
      <div class="row">
        <div class="col-md-12" data-page-block="pager">
          {% if items.limit < items.totalCount %}
            {{ block('pager') }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block filters %}
  <form method="get" action="{{ calista_path(view.route, view.getRouteParameters) }}" class="form-inline">
    {% for filter in filters %}
      {{ calista_filter(filter) }}
    {% endfor %}
    <div class="form-group">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
          {{ "Filter"|trans }}
        </button>
        <a href="{{ calista_path(view.route, view.getRouteParameters) }}" class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>
          {{ "Reset"|trans }}
        </a>
      </div>
    </div>
  </form>
{% endblock %}

{% block page_layout %}
  <div class="row">
    {% if filters %}
    <div class="col-md-2">
      <div data-page-block="filters">
        {{ block('filters') }}
      </div>
    </div>
    <div id="calista-results" class="col-md-10">
      {{ block('page_content') }}
    </div>
    {% else %}
    <div id="calista-results" class="col-md-12">
      {{ block('page_content') }}
    </div>
    {% endif %}
  </div>
{% endblock %}

{%- block page -%}
  <div class="calista-page {% block container_class %}{% endblock %}"
    {% if pageId %}data-page="{{ pageId|e }}"
    {% if view.route %}data-page-route="{{ calista_path(view.route, view.getRouteParameters(query.all)) }}"{% endif %}
    data-page-query="{{ view.getRouteParameters(query.all)|json_encode|e }}"{% endif %}
    data-renderer="{{ definition.rendererName|e }}">
    {{ block('page_layout') }}
  </div>
{%- endblock -%}
