{% extends '@calista/page/page.html.twig' %}

{% block sort_links_field %}
  {% set allowedSorts = input.allowedSorts %}
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" title="{{ "Sort by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
      {% if query.hasSortField %}
        {{ allowedSorts[(query.sortField)] }}
      {% else %}
        {{ "Select"|trans }}
      {% endif %}
    </button>
    <div class="dropdown-menu">
      {% for field, label in allowedSorts %}
        {% with {class: 'dropdown-item'} %}{{ block('sort_link') }}{% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block sort_links_order %}
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" title="{{ "Order by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
     {% if 'asc' == query.sortOrder %}{{ "ascending"|trans }}{% else %}{{ "descending"|trans }}{% endif %}&nbsp;<span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <a href="{{ calista_path(view.route, view.getRouteParameters|merge({(input.sortOrderParameter): 'asc'})) }}" class="dropdown-item {% if 'asc' == query.sortOrder %}active{% endif %}" data-page-link>
        {{ "ascending"|trans }}
      </a>
      <a href="{{ calista_path(view.route, view.getRouteParameters|merge({(input.sortOrderParameter): 'desc'})) }}" class="dropdown-item {% if 'desc' == query.sortOrder %}active{% endif %}" data-page-link>
        {{ "descending"|trans }}
      </a>
    </div>
  </div>
{% endblock %}

{% block sort_links %}
  <div class="btn-group sort-links">
    {{ block('sort_links_field') }}
    {{ block('sort_links_order') }}
  </div>
{% endblock %}

{% block item_list %}
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        {% for property in properties %}
          {{ block('item_list_table_header') }}
        {% endfor %}
        {% if config.table_action is not null %}
          <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block page_content %}
  {% if sortsEnabled and 1 < input.allowedSorts|length %}
    <div class="row">
      <div class="col" data-page-block="sort_links">
        {{ block('sort_links') }}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col" data-page-block="item_list">
      {{ block('item_list') }}
    </div>
  </div>
  {% if pagerEnabled %}
    <div class="row">
      <div class="col" data-page-block="pager">
        {% if items.limit < items.totalCount %}
          {{ block('pager') }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block filters %}
  <form method="get" class="form-inline" action="{{ calista_path(view.route, view.getRouteParameters) }}">
    {% for filter in filters %}
      {{ calista_filter(filter) }}
    {% endfor %}
    <div class="form-group">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
          {{ "Filter"|trans }}
        </button>
        <a href="{{ calista_path(view.route, view.getRouteParameters) }}" class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>
          {{ "Reset"|trans }}
        </a>
      </div>
    </div>
  </form>
{% endblock %}

{% block page_layout %}
  {% if filters %}
    <div class="row">
      <div class="col">
        <div data-page-block="filters">
          {{ block('filters') }}
        </div>
      </div>
    </div>
  {% endif %}
  {{ block('page_content') }}
{% endblock %}

{%- block page -%}
  {{ block('behavior') }}
  <div class="calista-page {% block container_class %}{% endblock %}"
    {% if pageId %}data-page="{{ pageId|e }}"
    {% if view.route %}data-page-route="{{ calista_path(view.route, view.getRouteParameters(query.all)) }}"{% endif %}
    data-page-query="{{ view.getRouteParameters(query.all)|json_encode|e }}"{% endif %}
    data-renderer="{{ definition.rendererName|e }}">
    {{ block('page_layout') }}
  </div>
{%- endblock -%}
