{# Implementation of default page using a navbar #}
{% extends '@calista/page/page.html.twig' %}

{% block search_form %}
  <form method="get" class="navbar-form navbar-right calista-search-form" accept-charset="UTF-8">
    <div class="input-group">
      {% if visualFilters %}
        <div class="form-control calista-visual-search"
          data-definition="{{ visualFilters|calista_filter_definition|e }}"
          data-query="{{ visualFilters|calista_filter_query(query.all)|e }}">
        </div>
      {% else %}
        <input placeholder="{{ "Search"|trans }}" class="form-control form-text" name="{{ input.searchParameter }}"
          value="{{ query.rawSearchString|escape }}" maxlength="128" type="text"
        />
        {% for name, value in query.routeParameters %}
          {% if name != input.searchParameter %}
            <input type="hidden" name="{{ name }}" value="{{ value|calista_query_param }}"/>
          {% endif %}
        {% endfor %}
      {% endif %}
      <span class="input-group-btn">
        <button type="submit" title="{{ "Search"|trans }}" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </form>
{% endblock %}

{% block sort_links_field %}
  {% set allowedSorts = input.allowedSorts %}
  <a href="#" class="dropdown-toggle" title="{{ "Sort by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    {% spaceless %}
      {% if query.hasSortField %}
        {{ allowedSorts[(query.sortField)] }}
      {% else %}
        WTF
      {% endif %}
      &nbsp;<span class="caret"></span>
    {% endspaceless %}
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    {% for field, label in allowedSorts %}
      <li>{{ block('sort_link') }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sort_links %}
  <ul class="nav navbar-nav navbar-right">
    <li>{{ block('sort_links_field') }}</li>
    <li>{{ block('sort_links_order') }}</li>
  </ul>
{% endblock %}

{% block page_content %}
  <div data-page-block="item_list">
    {% block form_content %}
      {% if form is defined %}
        <form action="" method="post">
        {{ form_errors(form) }}
      {% endif %}
      {{ block('item_list') }}
      {% if form is defined %}
        {{ form_rest(form) }}
        </form>
      {% endif %}
    {% endblock form_content %}
    {% if pagerEnabled %}
      <div class="row">
        <div class="col-md-12" data-page-block="pager">
          {% if query.limit < items.totalCount %}
            {{ block('pager') }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block page_layout %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#calista-collapse-{{ pageId }}" aria-expanded="false">
          <span class="sr-only">{{ "Toggle navigation"|trans  }}</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Calista</a>
      </div>
      <div class="collapse navbar-collapse" id="calista-collapse-{{ pageId }}">
        {% if input.isSearchEnabled or visualFilters %}
          {{ block('search_form') }}
        {% endif %}
        {% if sortsEnabled and 1 < input.allowedSorts|length %}
          <div data-page-block="sort_links">
            {{ block('sort_links') }}
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      {% if 1 < displays|length or filters %}
        <div class="col-md-2">
          {% if displays %}
            <div data-page-block="display_mode">
              {% if 1 < displays|length %}
                {{ block('display_mode') }}
              {% endif %}
            </div>
          {% endif %}
          {% if filters %}
            <div data-page-block="filters">
              {{ block('filters') }}
            </div>
          {% endif %}
        </div>
        <div id="calista-results" class="col-md-10">
          {{ block('page_content') }}
        </div>
      {% else %}
        <div id="calista-results" class="col-md-12">
          {{ block('page_content') }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
