{% extends '@calista/page/page-bootstrap3.html.twig' %}

{% block filters %}
  <form method="get" action="{{ calista_path(view.route, view.getRouteParameters) }}">
    <div class="form-row align-items-center">
      {% for filter in filters %}
        <div class="col-auto">
          {{ calista_filter(filter) }}
        </div>
      {% endfor %}
      <div class="col-auto">
        <div class="form-group">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span>
              {{ "Filter"|trans }}
            </button>
            <a href="{{ calista_path(view.route, view.getRouteParameters) }}" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
              {{ "Reset"|trans }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
