{% extends '@calista/page/page-bootstrap3.html.twig' %}

{% block filters %}
  <form method="get" action="{{ calista_path(view.route, view.getRouteParameters) }}">
    <div class="form-row align-items-center">
      {% for filter in filters %}
        <div class="col-auto">
          {{ calista_filter(filter) }}
        </div>
      {% endfor %}
      <div class="col-auto">
        <div class="form-group">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span>
              {{ "Filter"|trans }}
            </button>
            <a href="{{ calista_path(view.route, view.getRouteParameters) }}" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
              {{ "Reset"|trans }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{%- block pager_go_to -%}
  <li class="pager-go-to">
    <form method="GET" action="{{ calista_path(view.route) }}" class="form-inline h-100">
      {% for name, value in view.getRouteParameters(query.all) %}
        <input name="{{ name }}" type="hidden" value="{{ value }}" />
      {% endfor %}
      <input name="page" type="text" size="1" value="{{page ?? 1}}" class="mr-0 form-control"/>
      <input class="btn btn-primary" type="submit" value="&#8618;" />
    </form>
  </li>
{%- endblock -%}
