{#
 # Please note that items variable items type will vary depending on what you
 #  are currently displaying, this template hanles nodes.
 #
 #  Variables:
 #    pageId: page uuid, for security and ajax queries
 #    filters: Filter[]
 #    filters.ID.title: string (title)
 #    filters.ID.links: Link[]
 #    input: InputDefinition
 #    definition: ViewDefinition
 #    query: Query
 #    query.sortField: string (current sort field)
 #    query.sortOrder: string (current sort order)
 #    view: View
 #    view.route: string (current internal route)
 #    view.getRouteParameters: string[] (current get query)
 #    hasPager: should we show pager or not
 #    items: DatasourceResultInterface|mixed[] the items
 #}

{%- block filter_link -%}
  <div class="checkbox">
    <label>
      <a{% if link.isActive %} class="active"{% endif %} href="{{ calista_path(link.route, link.getRouteParameters) }}" data-page-link="{{ filter.field|e }}">
        <input type="checkbox"{% if link.isActive %} checked="checked"{% endif %}/>
        {{ link.title|e }} {% if link.count is defined %}<span class="badge">{{ link.count|e }}</span>{% endif %}
      </a>
    </label>
  </div>
{%- endblock -%}

{%- block filter_boolean -%}
  <div class="checkbox">
    <label>
      {% set value = query.get(filter.field) %}
      <input type="checkbox" name="{{ filter.field|e }}" {% if value %} checked="checked"{% endif %} value="1"/> {{ filter.title|e }}
    </label>
  </div>
{%- endblock -%}

{%- block filter_date -%}
  <div class="form-group">
    <label for="{{ filter.field|e }}">{{ filter.title|e }}</label>
    {% set value = query.get(filter.field) %}
    <input type="date" class="form-control" name="{{ filter.field|e }}" value="{{ value|e }}"/>
  </div>
{%- endblock -%}

{%- block filter_input -%}
  <div class="form-group">
    <label for="{{ filter.field|e }}">{{ filter.title|e }}</label>
    {% set value = query.get(filter.field) %}
    <input type="text" class="form-control" name="{{ filter.field|e }}" value="{{ value|e }}" placeholder="">
  </div>
{%- endblock -%}

{%- block filter -%}
  {% if filter.isMultiple %}
    <strong>{{ filter.title|e }}</strong>
    <ul class="list-unstyled">
      {% for link in filter.links(query, view) %}
        <li>{{ block('filter_link') }}</li>
      {% else %}
        <li>{{ "No values"|trans }}</li>
      {% endfor %}
    </ul>
  {% else %}
     <div class="form-group">
      <label for="disabledTextInput">{{ filter.title|e }}</label>
      {% set selectedValues = filter.getSelectedValues(query) %}
      <select name="{{ filter.field|e }}">
        {% if not filter.isMandatory %}
          {% set noneOption = filter.noneOption %}
          <option value="">{% if noneOption %}{{ noneOption|e }}{% else %}{{ "All"|trans }}{% endif %}</option>
        {% endif %}
        {% for key, title in filter.choicesMap %}
          <option{% if key in selectedValues %} selected="selected"{% endif %} value="{{ key|e }}">{{ title|e }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
{%- endblock -%}

{#
 # A normal sort link
 #
 # You may use it for table header sort link:
 #
 # <th>
 #   {% with {label: "Référence", field: 'h.timestamp', class: 'dropdown-item'} %}
 #     {{ block('sort_link') }}
 #   {% endwith %}
 # </th>
 #
 #}
{% block sort_link %}
  {% set isActive = (field == query.sortField) %}
  {% if class is not defined %}
    {% set class = '' %}
  {% endif %}
  {% if isActive %}
    {% if 'desc' == query.sortOrder %}
      {% set linkOrder = 'asc' %}
    {% else %}
      {% set linkOrder = 'desc' %}
    {% endif %}
  {% else %}
    {% set linkOrder = query.sortOrder %}
  {% endif %}
  {% set mergeParams = {(input.sortFieldParameter): field, (input.sortOrderParameter): linkOrder} %}
  <a href="{{ calista_path(view.route, view.getRouteParameters(query.all, mergeParams)) }}" class="{{ class }} sort-{{ linkOrder }}{% if isActive %} active{% endif %}" data-page-link>
    {{ label|e }}
  </a>
{% endblock %}

{% block sort_links_field %}
  {% set allowedSorts = input.allowedSorts %}
  <span class="text-muted">{{ "Sort by:"|trans }}</span>
  <a href="#" class="dropdown-toggle" title="{{ "Sort by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    {% if query.hasSortField %}
      {{ allowedSorts[(query.sortField)] }}
    {% else %}
      {{ "Select"|trans }}
    {% endif %}
    &nbsp;<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    {% for field, label in allowedSorts %}
      <li>{% with {class: 'dropdown-item'} %}{{ block('sort_link') }}{% endwith %}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sort_links_order %}
  <a href="#" class="dropdown-toggle" title="{{ "Order by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
   {% if 'asc' == query.sortOrder %}{{ "ascending"|trans }}{% else %}{{ "descending"|trans }}{% endif %}&nbsp;<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="{{ calista_path(view.route, view.getRouteParameters(query.all, {(input.sortOrderParameter): 'asc'})) }}" {% if 'asc' == query.sortOrder %}class="active"{% endif %} data-page-link>
        {{ "ascending"|trans }}
      </a>
    </li>
    <li>
      <a href="{{ calista_path(view.route, view.getRouteParameters(query.all, {(input.sortOrderParameter): 'desc'})) }}" {% if 'desc' == query.sortOrder %}class="active"{% endif %} data-page-link>
        {{ "descending"|trans }}
      </a>
    </li>
  </ul>
{% endblock %}

{% block sort_links %}
  <div class="pull-right sort-links">
    <span style="position: relative;">
      {{ block('sort_links_field') }}
    </span>
    <span style="position: relative;">
      {{ block('sort_links_order') }}
    </span>
  </div>
{% endblock %}

{%- block item -%}
  <tr>
    {% for property in properties %}
      <td>
        {{ calista_item_property(item, property) }}
      </td>
    {% endfor %}
  <td>
    {# {{ calista_actions(item) }} #}
  </td>
</tr>
{%- endblock -%}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        {% for property in properties %}
          <th class="property-{{ property.name }}">{{ property.label }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{#
 # Single pager link href
 #}
{%- block pager_href -%}
  {% if index is defined %}
    {% if index == 1 %}
      {{ calista_path(view.route, view.getRouteParameters(query.all, {(input.pagerParameter): index})) }}
    {% else %}
      {# @todo drop the page parameter completly #}
      {{ calista_path(view.route, view.getRouteParameters(query.all, {(input.pagerParameter): index})) }}
    {% endif %}
  {% else %}
    #
  {% endif %}
{%- endblock -%}

{#
 # Single pager link
 #}
{%- block pager_link -%}
  {% if index is defined %}
    <a class="page-link" href="{{ block('pager_href') }}" data-page-link="">
      {{ index }}
    </a>
  {% endif %}
{%- endblock -%}

{#
 # Custom pager, built with Bootstrap component. We dissociated it from any
 # framework because we need to have control on the links for AJAX page
 # refresh.
 #}
{%- block pager -%}
  {% if hasPager %}
    {% set page = items.getCurrentPage() %}
    <nav aria-label="{{ "Navigation"|trans }}">
      <ul class="pagination">
        {% if 1 < page %}
          <li class="page-item">
            <a class="page-link" href="{% with {index: 1} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "First"|trans }}" data-page-link>
              <span aria-hidden="true">&larr;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="{% with {index: (page - 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Previous"|trans }}" data-page-link>
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for index in calista_page_range(items.getTotalCount(), page, items.limit) %}
          <li class="page-item">
            {{ block('pager_link') }}
          </li>
        {% endfor %}
        {% set pageCount = items.pageCount() %}
        {% if page < pageCount %}
          <li class="page-item">
            <a class="page-link" href="{% with {index: (page + 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Next"|trans }}" data-page-link>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="{% with {index: pageCount} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Last"|trans }}" data-page-link>
              <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{%- endblock -%}

{% block page_content %}
  <div class="container-fluid">
    {% if sortsEnabled and 1 < input.allowedSorts|length %}
      <div class="row">
        <div class="col-md-12" data-page-block="sort_links">
          {{ block('sort_links') }}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12" data-page-block="item_list">
        {{ block('item_list') }}
      </div>
    </div>
    {% if pagerEnabled %}
      <div class="row">
        <div class="col-md-12" data-page-block="pager">
          {% if items.limit < items.totalCount %}
            {{ block('pager') }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block filters %}
  <form method="get" action="{{ calista_path(view.route, view.getRouteParameters) }}" class="form-inline">
    {% for filter in filters %}
      {% if filter.isBoolean %}
        {{ block('filter_boolean') }}
      {% elseif filter.isArbitraryInput %}
        {{ block('filter_input') }}
      {% elseif filter.isDate %}
        {{ block('filter_date') }}
      {% else %}
        {{ block('filter') }}
      {% endif %}
    {% endfor %}
    <div class="form-group">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
          {{ "Filter"|trans }}
        </button>
        <a href="{{ calista_path(view.route, view.getRouteParameters) }}" class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>
          {{ "Reset"|trans }}
        </a>
      </div>
    </div>
  </form>
{% endblock %}

{% block page_layout %}
  <div class="row">
    {% if filters %}
    <div class="col-md-2">
      <div data-page-block="filters">
        {{ block('filters') }}
      </div>
    </div>
    <div id="calista-results" class="col-md-10">
      {{ block('page_content') }}
    </div>
    {% else %}
    <div id="calista-results" class="col-md-12">
      {{ block('page_content') }}
    </div>
    {% endif %}
  </div>
{% endblock %}

{%- block page -%}
  <div class="calista-page"
      {% if pageId %}data-page="{{ pageId|e }}"
      {% if view.route %}data-page-route="{{ calista_path(view.route, view.getRouteParameters(query.all)) }}"{% endif %}
      data-page-query="{{ view.getRouteParameters(query.all)|json_encode|e }}"{% endif %}
      data-renderer="{{ definition.rendererName|e }}">
    {{ block('page_layout') }}
  </div>
{%- endblock -%}
