{#
 # Please note that items variable items type will vary depending on what you
 #  are currently displaying, this template hanles nodes.
 #
 #  Variables:
 #    pageId: page uuid, for security and ajax queries
 #    filters: Filter[]
 #    filters.ID.title: string (title)
 #    filters.ID.links: Link[]
 #    displays: Link[]
 #    input: InputDefinition
 #    definition: ViewDefinition
 #    query: Query
 #    query.searchParam: string
 #    query.rawSearchString: string (raw user input)
 #    query.route: string (current internal route)
 #    query.routeParameters: string[] (current get query)
 #    query.sortField: string (current sort field)
 #    query.sortOrder: string (current sort order)
 #    hasPager: should we show pager or not
 #    items: DatasourceResultInterface|mixed[] the items
 #}

{%- block display_mode_link -%}
  <a class="{% if link.isActive %}active {% endif %}btn btn-default" href="{{ path(link.route, link.routeParameters) }}" title="{{ link.title|e }}" data-page-link>
    <span class="glyphicon glyphicon-{{ link.icon|e }}" aria-hidden="true"></span>
    <span class="sr-only">{{ link.title|e }}</span>
  </a>
{%- endblock -%}

{%- block display_mode -%}
  {% if 1 < displays|length %}
    <div class="clearfix">
      <div class="btn-group">
        {% for link in displays %}
          {{ block('display_mode_link') }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{%- endblock -%}

{%- block filter_link -%}
  <div class="checkbox">
    <label>
      <a{% if link.isActive %} class="active"{% endif %} href="{{ path(link.route, link.routeParameters) }}" data-page-link="{{ filter.field|e }}">
        <input type="checkbox"{% if link.isActive %} checked="checked"{% endif %}/>
        {{ link.title|e }} {% if link.count is defined %}<span class="badge">{{ link.count|e }}</span>{% endif %}
      </a>
    </label>
  </div>
{%- endblock -%}

{%- block filter_input -%}
  <div class="form-group">
    <label for="{{ filter.field|e }}">{{ filter.title|e }}</label>
    {% set value = query.routeParameters[filter.field] %}
    <input type="text" class="form-control" name="{{ filter.field|e }}" value="{{ value|e }}" placeholder="">
  </div>
{%- endblock -%}

{%- block filter -%}
  {% if filter.isMultiple %}
    <strong>{{ filter.title|e }}</strong>
    <ul class="list-unstyled">
      {% for link in filter.links(query) %}
        <li>{{ block('filter_link') }}</li>
      {% else %}
        <li>{{ "No values"|trans }}</li>
      {% endfor %}
    </ul>
  {% else %}
     <div class="form-group">
      <label for="disabledTextInput">{{ filter.title|e }}</label>
      <select>
        {% if not filter.isMandatory %}
          {% set noneOption = filter.noneOption %}
          <option value="">{% if noneOption %}{{ noneOption|e }}{% else %}{{ "All"|trans }}{% endif %}</option>
        {% endif %}
        {% for link in filter.links(query) %}
          {% set value = link.routeParameters[filter.field] %}
          <option{% if link.isActive %} selected="selected"{% endif %} value="{{ value|e }}">{{ link.title|e }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
{%- endblock -%}

{% block search_form %}
  <form method="get" class="calista-search-form" accept-charset="UTF-8">
    <div class="input-group">
      <input placeholder="{{ "Search"|trans }}" class="form-control form-text" name="{{ input.searchParameter|e }}"
        value="{{ query.rawSearchString|e }}" maxlength="128" type="text"
      />
      {% for name, value in query.routeParameters %}
        {% if name != input.searchParameter %}
          <input type="hidden" name="{{ name }}" value="{{ value|calista_query_param }}"/>
        {% endif %}
      {% endfor %}
      <span class="input-group-btn">
        <button type="submit" title="{{ "Search"|trans }}" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </form>
{% endblock %}

{#
 # A normal sort link
 #
 # You may use it for table header sort link:
 #
 # <th>
 #   {% with {label: "Référence", field: 'h.timestamp'} %}
 #     {{ block('sort_link') }}
 #   {% endwith %}
 # </th>
 #
 #}
{% block sort_link %}
  {% spaceless %}
    {% set isActive = (field == query.sortField) %}
    {% if isActive %}
      {% if 'desc' == query.sortOrder %}
        {% set linkOrder = 'asc' %}
      {% else %}
        {% set linkOrder = 'desc' %}
      {% endif %}
    {% else %}
      {% set linkOrder = query.sortOrder %}
    {% endif %}
    {% set mergeParams = {(input.sortFieldParameter): field, (input.sortOrderParameter): linkOrder} %}
    <a href="{{ path(query.route, query.routeParameters|merge(mergeParams)) }}" {% if isActive %}class="active"{% endif %} data-page-link>
      {{ label|e }}
    </a>
  {% endspaceless %}
{% endblock %}

{% block sort_links_field %}
  {% set allowedSorts = input.allowedSorts %}
  <span class="text-muted">{{ "Sort by:"|trans }}</span>
  <a href="#" class="dropdown-toggle" title="{{ "Sort by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    {% spaceless %}
      {% if query.hasSortField %}
        {{ allowedSorts[(query.sortField)] }}
      {% else %}
        WTF
      {% endif %}
      &nbsp;<span class="caret"></span>
    {% endspaceless %}
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    {% for field, label in allowedSorts %}
      <li>{{ block('sort_link') }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sort_links_order %}
  <a href="#" class="dropdown-toggle" title="{{ "Order by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
   {% if 'asc' == query.sortOrder %}{{ "ascending"|trans }}{% else %}{{ "descending"|trans }}{% endif %}&nbsp;<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="{{ path(query.route, query.routeParameters|merge({(input.sortOrderParameter): 'asc'})) }}" {% if 'asc' == query.sortOrder %}class="active"{% endif %} data-page-link>
        {{ "ascending"|trans }}
      </a>
    </li>
    <li>
      <a href="{{ path(query.route, query.routeParameters|merge({(input.sortOrderParameter): 'desc'})) }}" {% if 'desc' == query.sortOrder %}class="active"{% endif %} data-page-link>
        {{ "descending"|trans }}
      </a>
    </li>
  </ul>
{% endblock %}

{% block sort_links %}
  <div class="pull-right sort-links">
    <span style="position: relative;">
      {{ block('sort_links_field') }}
    </span>
    <span style="position: relative;">
      {{ block('sort_links_order') }}
    </span>
  </div>
{% endblock %}

{#
 # Place it or not into your custom templates, but never forget the
 # data-page-checkbox="all" attribute on which the javascript will match.
 #}
{%- block item_checkbox_all -%}
  <input type="checkbox" data-page-checkbox="all" title="{{ "(Un)check all"|trans }}"/>
{%- endblock -%}

{%- block item -%}
  <tr>
    {% for property in properties %}
      <td>
        {{ calista_item_property(item, property) }}
      </td>
    {% endfor %}
  <td>
    {# {{ calista_actions(item) }} #}
  </td>
</tr>
{%- endblock -%}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        {% if form is defined %}
          <th>{{ block('item_checkbox_all') }}</th>
        {% endif %}
        {% for property in properties %}
          <th class="property-{{ property.name }}">{{ property.label }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{#
 # Single pager link href
 #}
{%- block pager_href -%}
  {% if index is defined %}
    {% if index == 1 %}
      {{ path(query.route, query.routeParameters|merge({(input.pagerParameter): index})) }}
    {% else %}
      {# @todo drop the page parameter completly #}
      {{ path(query.route, query.routeParameters|merge({(input.pagerParameter): index})) }}
    {% endif %}
  {% else %}
    #
  {% endif %}
{%- endblock -%}

{#
 # Single pager link
 #}
{%- block pager_link -%}
  {% if index is defined %}
    <a href="{{ block('pager_href') }}" data-page-link="">
      {{ index }}
    </a>
  {% endif %}
{%- endblock -%}

{#
 # Custom pager, built with Bootstrap component. We dissociated it from any
 # framework because we need to have control on the links for AJAX page
 # refresh.
 #}
{%- block pager -%}
  {% if hasPager %}
    {% set page = query.pageNumber %}
    <nav aria-label="{{ "Navigation"|trans }}">
      <ul class="pagination">
        {% if 1 < page %}
          <li>
            <a href="{% with {index: (page - 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Previous"|trans }}" data-page-link>
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for index in items.getPageRange(page, query.limit) %}
          <li>
            {{ block('pager_link') }}
          </li>
        {% endfor %}
        {% if page < items.pageCount(query.limit) %}
          <li>
            <a href="{% with {index: (page + 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Next"|trans }}" data-page-link>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{%- endblock -%}

{% block page_content %}
  <div class="container-fluid">
    {% if input.isSearchEnabled %}
      <div class="row">
        <div class="col-md-12" data-page-block="search_form">
          {{ block('search_form') }}
        </div>
      </div>
    {% endif %}
    {% if sortsEnabled and 1 < input.allowedSorts|length %}
      <div class="row">
        <div class="col-md-12" data-page-block="sort_links">
          {{ block('sort_links') }}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12" data-page-block="item_list">
        {{ block('item_list') }}
      </div>
    </div>
    {% if pagerEnabled %}
      <div class="row">
        <div class="col-md-12" data-page-block="pager">
          {% if query.limit < items.totalCount %}
            {{ block('pager') }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block filters %}
  <form method="get" action="{{ path(query.route, query.routeParameters) }}" class="form-inline">
    {% for filter in filters %}
      {% if filter.isArbitraryInput %}
        {{ block('filter_input') }}
      {% else %}
        {{ block('filter') }}
      {% endif %}
    {% endfor %}
    <input type="submit" value="{{ "Filter"|trans }}"/>
  </form>
{% endblock %}

{% block page_layout %}
  <div class="row">
    {% if 1 < displays|length or filters %}
      <div class="col-md-2">
        {% if displays %}
          <div data-page-block="display_mode">
            {% if 1 < displays|length %}
              {{ block('display_mode') }}
            {% endif %}
          </div>
        {% endif %}
        {% if filters %}
          <div data-page-block="filters">
            {{ block('filters') }}
          </div>
        {% endif %}
      </div>
      <div id="calista-results" class="col-md-10">
        {{ block('page_content') }}
      </div>
    {% else %}
      <div id="calista-results" class="col-md-12">
        {{ block('page_content') }}
      </div>
    {% endif %}
  </div>
{% endblock %}

{%- block page -%}
  <div{% if pageId %} data-page="{{ pageId|e }}" data-page-route="{{ path(query.route, query.routeParameters) }}" data-page-query="{{ query.routeParameters|json_encode|e }}"{% endif %} data-page-search="{{ input.searchParameter|e }}" {# data-refresh-url="{{ path('calista_ajax_refresh') }}" #} data-view-type="{{ definition.viewType|e }}" class="calista-page">
    {{ block('page_layout') }}
  </div>
{%- endblock -%}
